<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col w-full">
    <h1 class="text-5xl font-bold mb-6">
      検索結果:
      <%= @query if @query.present? %>
      <%= "#{@year}年" if @year.present? %>
      <%= t("seasons.#{@season}") if @season.present? %>
    </h1>

    <% if flash[:alert] %>
      <div class="alert alert-error shadow-lg mb-6">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span><%= flash[:alert] %></span>
        </div>
      </div>
    <% end %>

    <% if @works.any? %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @works.each do |work| %>
          <%= render 'anime/work', work: work %>
        <% end %>
      </div>
    <% else %>
      <p class="text-xl">検索結果がありません。</p>
    <% end %>

    <%= link_to "新しい検索", search_path, class: "btn btn-primary mt-6" %>
  </div>
</div>