<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Anilike" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RckLVnPtRv61824" />
    <meta
      property="og:url"
      content="https://anilike2-23c59a8620d7.herokuapp.com/"
    />
    <meta property="og:title" content="AniLike" />
    <meta
      property="og:description"
      content="アニメを検索するだけのアプリ"
    />
    <meta
      property="og:image"
      content="https://anilike2-23c59a8620d7.herokuapp.com/top_image.jpg"
    />
    

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

  <body>
  <% if logged_in? %> <%= render 'shared/header' %>
    <% else %>
    <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
